<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloverta.webapi.mapper.StudentMapper">
    <select id="findAll" resultType="Student">
        SELECT * FROM student;
    </select>

    <insert id="insert" parameterType="com.cloverta.webapi.model.Student" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student (
            name, email, phone
        ) VALUES (
                    #{name}, #{email}, #{phone}
                 )
    </insert>

    <select id="findById" resultType="Student" parameterType="int">
        SELECT * FROM student WHERE id=#{id};
    </select>
</mapper>